<!-- * * * * * * * * * * * * * * * VISTA * * * * * * * * * * * * * * * -->
<!-- contenedor general -->
<div class="container-fluid" style="background-color:#f5f6f7">
  <br/>

  <app-tipo-de-cambio [(tipoDeCambio)]="tipoDeCambio" (tipoDeCambioChange)="calcularSalarios()"></app-tipo-de-cambio>

  <br/>


  <!--Card vertical de pages-->
  <div class="row"> 
    <div class="col-md-4">
      <!-- * * * Inicio de card * * * -->
      <mat-card>
        <!-- Título -->
        <div> 
          <span class="titulo">{{salarioFullstack.nombre}}</span>
        </div>

        <!-- * Inicio campo Puesto * -->
        <div>
          <span class="titulo">Puesto</span>
          <span class="placeholder">Ejemplo</span>
        </div>
        <div>
          <input type="text" class="inputCajon" [(ngModel)]="salarioFullstack.nombre">
        </div>
        <!-- * Final campo Puesto * -->
        
        <!-- * Inicio Salario mensual * -->
        <div>
          <span class="titulo">Salario mensual (Q)</span>
          <span class="placeholder">Q1,000</span>
        </div>
        <div>
          <input type="number" class="inputCajon" [(ngModel)]="salarioFullstack.salarioQuetzales" (ngModelChange)="calcularSalario(salarioFullstack)">
        </div>
        <!-- * Final Salario mensual * -->

        <!-- * Inicio Salario por hora Q * -->
        <div>
          <span class="titulo">Salario por hora (Q)</span>
        </div>
        <div>
          <input type="number" class="inputCajon" [(ngModel)]="salarioFullstack.salarioHoraQuetzales" disabled>
        </div>
        <!-- * Final Salario por hora Q * -->

        <!-- * Inicio Salario mensual $ * -->
        <div>
          <span class="titulo">Salario mensual ($)</span>
        </div>
        <div>
          <input type="number" class="inputCajon" [(ngModel)]="salarioFullstack.salarioDolares" disabled>
        </div>
        <!-- * Final Salario mensual $ * -->

        <!-- * Inicio Salario por hora $ * -->
        <div>
          <span class="titulo">Salario por hora ($)</span>
        </div>
        <div>
          <input type="number" class="inputCajon" [(ngModel)]="salarioFullstack.salarioHoraDolares" disabled>
        </div>
        <!-- * Final Salario por hora $ * -->

        
      </mat-card>
      <!-- * * * Fin de card * * * -->
    </div>
  </div>




</div>